.hero {
    padding: 40px 0px;
    min-height: calc(100vh - 87px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &__arrow {
        cursor: pointer;
        bottom: 0;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border: 1.7px solid transparent;

        transition: border .25s ease-in-out;
        transition-delay: .1s;
        &:hover {
            border: 1.7px solid rgba(255, 255, 255, 0.32);
            animation: none;
            background-image: url("../img/arrow-animation.gif");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 140%;
            svg {
                display: none;
            }
        }
    }
}